extends layout

block content
	main
		.intro
			h1 Welcome, #{name}!
			h2 Welcome, #{id}
			h2= email

		.add-wine
			h2 Add a wine
			form.add-wine-form(action="/api/add-wine" method="POST")
				.input-block
					label(for="vintage") Quantity
					input#quantity(type="number" name="quantity")
					label(for="vendor") Purchased from
					input#vendor(type="text" name="vendor")
					label(for="vintage") Vintage
					input#vintage(type="text" name="vintage")
					label(for="varietal") Varietal
					input#varietal(type="text" name="varietal")
					label(for="producer") Producer
					input#producer(type="text" name="producer")
					label(for="region") Region
					input#region(type="text" name="region")
					label(for="country") Country
					input#country(type="text" name="country")
					label(for="ageability") Ageability (1-10)
					input#ageability(type="number" name="ageability_index")
					button(type="submit") Add
				.input-block
			.wine-listing
				h2 Stock
				each listing in userWines
					.listing
						h3 Producer: #{listing.Wine.producer}
						p Vintage: #{listing.Wine.vintage}
						p Quantity: #{listing.quantity}
						p Bought from: #{listing.vendor}

